<div class="exam-container">
    <span class="duration-message">{{durationMessage}}</span>
    <br><br>
    <span class="question-message">{{message}}</span>
    <br><br>
    
    <form>
        <div class="input-container">
            <label for="qno">Question No:</label>
            <input type="text" id="qno" name="qno" [(ngModel)]="question.qno" class="input-field">
        </div>
        <br>
        <div class="input-container">
            <label for="qtext">Question Text:</label>
            <input type="text" id="qtext" name="qtext" [(ngModel)]="question.qtext" size="100px" style="padding: 20px;" class="input-field">
        </div>
        <br>

        <div class="options-container">
            <label *ngFor="let option of [question.op1, question.op2, question.op3, question.op4]">
                <input [checked]="isChecked(option)" name="options" type="radio" (change)="saveAnswer()" value="{{option}}" [(ngModel)]="submittedAnswer" class="css-checkbox" [(ngModel)]="selected">
                <span [style.color]="getColor(option)">{{option}}</span>
            </label>
            <br><br>
        </div>

        <input type="hidden" name="answer" [(ngModel)]="question.answer">
        
        <div class="button-container">
            <input type="button" value="Next" class="btn next-btn" (click)="nextQuestion()">
            <input type="button" value="Previous" class="btn previous-btn" (click)="previousQuestion()">
            <input type="button" value="End Exam" class="btn end-btn" (click)="endexam()">
        </div>
    </form>
</div>
